version: '3.3'

#acessar o bash do app: docker-compose start  + docker-compose exec app bash
services:
  db:
    image: mysql:8.0
    container_name: licitarmysql
    networks:
      - development-network
    restart: always
    environment:
      MYSQL_DATABASE: licitarDB
      MYSQL_ROOT_PASSWORD: dblicitar
    volumes:
      - ./.docker/volumes/licitar:/var/lib/mysql
    tty: true
    ports:
      - 3306:3306

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: pma
    networks:
      - development-network
    links:
      - db
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
    restart: always
    depends_on:
      - db
    ports:
      - 8081:80

  dbtest:
    image: mysql:8.0
    container_name: licitarmysqltest
    networks:
      - development-network
    restart: always
    environment:
      MYSQL_DATABASE: licitarDB
      MYSQL_ROOT_PASSWORD: dblicitar
    volumes:
      - ./docker/volumes/licitar:/var/lib/mysqltest
    tty: true
    ports:
      - 3307:3306

  app:
    build: .
    entrypoint: .docker/entrypoint.sh
    container_name: licitarBackend
    ports:
      - 3001:3001
    volumes:
      - ~/dev/docker/volumes/engconcurso:/home/node/app
    depends_on:
      - db
    networks:
      - development-network
networks:
  development-network:
    driver: bridge
